html,body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.main-header h1 {
  padding-top: 76px;
  padding-bottom: 109px;
  text-align: center;
}

.site-navigation-current a:not([href]) {
  color: #000000;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  height: 2px;

  background-color: #fb565a;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #000000;
  padding-top: 74px;
  padding-bottom: 10px;
  }

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 160px;
}

.user-navigation .user-cart {
  position: relative;
}

.user-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;

  left: -41px;
  top: 80px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.302);
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.slider {
  position:relative;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
}

.slider-controls{
  position: absolute;
  bottom: 89px;
  left: 50%;
  width: 200px;
  margin-left:-100px;
  text-align: center;
  z-index: 10;
}

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide h2,
.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}

.slide h2 {
  margin-top: 76px;
  margin-bottom: 28px;
}

.slide-text {
  text-transform: none;
  width: 460px;
  margin-bottom: 40px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide:nth-child(1) {
  background-image: url('../img/slider1.png');
  background-repeat: no-repeat;
  background-position: 432px 100%;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.slide:nth-child(2) {
  background-image: url('../img/slider2.png');
  background-repeat: no-repeat;
  background-position: 100% bottom;
}

.slide:nth-child(3) {
  background-image: url('../img/slider3.png');
  background-repeat: no-repeat;
  background-position: 100% bottom;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls label{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 7px;
  background: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-decoration:none;

  background-color: #fb565a;
  border-radius: 3px;
}

.button-slider:hover,
.button-web:hover,
.contacts-button:hover,
.button-form:hover {
  background-color: #e74246;
}

.button-slider:focus,
.button-slider:active,
.button-web:focus,
.button-web:active,
.contacts-button:focus,
.contacts-button:active,
.button-form:focus,
.button-form:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.services-product a {
  color: #000000;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 508px;
  margin: 0;
  padding: 0;

  border-bottom: 2px solid #eeeeee;
  background-color: #ffffff;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 348px;
  margin-right: 100px;
}

.service-item:nth-child(3n) {
  margin-right: 80px;
}

.service-item h3 {
  margin:0 0;
}

.service-item p {
  margin: 16px 0;
}

.services-text {
  width: 300px;
  text-transform: none;
  margin-bottom: 22px;
}

.services-product {
  color: #000000;
}

.button-web {
  width: 160px;
  background-color: #fb565a;
}

.button-app {
  width: 160px;
  background-color: #00ca74;
}

.button-pres {
  width: 160px;
  background-color: #efc84a;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:focus,
.button-app:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
}

.button-pres:hover {
  background-color: #eab534;
}

.button-pres:focus,
.button-pres:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
}

.studio {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
  background-color: #ffffff;
}

.column1 {
  width: 680px;
  text-transform: none;
}

.column2 {
  width: 360px;
  padding-top: 40px;
}

.studio-text {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  margin-top: 74px;
  margin-bottom: 34px;
}

.column1 h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 21px;
}

.studio-services {
  padding: 0;
  margin: 0;
  list-style: none;
}

.studio-services li {
  display: block;
  position: relative;
  padding-left: 36px;
  margin-bottom: 26px;
}

.studio-services li:nth-child(3) {
  margin-bottom: 70px;
}

.studio-services li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 12px;
  left: 1px;
  background-color:  #fb565a
}

.column2 h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 18px;
  margin-left: 16px;
}

.studio-table {
  border-spacing: 2px 11px;
}

.studio-table-row1 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #000000;
}

.sup {
  vertical-align: super;
  font-size: 22.5px;
}

.studio-table-row2 {
  line-height: 18px;
  text-transform: none;
}

.partners {
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
  background-color: #ffffff;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:focus {
  opacity: 0.1;
}

.filters,
.catalog {
  padding-top: 56px;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter-range {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 48px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  color: #283136;

  margin-left: 10px;
  width: 60px;
  padding: 8px 10px;

  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.filter-radio {
  margin-top: 56px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.filter p {
  font-size: 16px;
}

.filter ul {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  margin-top: 8px;
  list-style: none;
  line-height: 40px;
}

.filter-option {
  text-transform: none;
}

.filter input[type=radio],
.filter input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.filter-radio .filter-input:not(checked) + label {
  position: relative;
}

.filter-radio .filter-input:not(checked) + label::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;

  top: 0px;
  left: -35px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-radio .filter-input:checked + label::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;

  top: 0px;
  left: -35px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-checkbox {
  margin-top: 33px;
}

.filter-checkbox .filter-input:not(checked) + label {
  position: relative;
}

.filter-checkbox .filter-input:not(checked) + label::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;

  top: 0px;
  left: -35px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-checkbox .filter-input:checked + label::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;

  top: 0px;
  left: -35px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input:disabled + label::before {
  color: #000000;
  opacity: 0;
}

.filter input[type=radio]:hover +label::before,
.filter input[type=checkbox]:hover +label::before {
  color: #000000;
  opacity: 1;
}

.filter input[type=radio]:disabled +label::before,
.filter input[type=checkbox]:disabled +label::before{
  opacity: 0.1;
}

.button-filter {
  margin-top: 39px;
  width: 260px;
  height: 50px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 760px;
  align-content: stretch;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  height: 78px;
  width: 760px;
}

.sorting-legend {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 360px;
  margin: 0;
  background-color: #ffffff;
}

.sorting-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.filter-option-icon {
  opacity: 0.2;
}

.filter-option-icon:hover,
.filter-option-icon:focus path {
  fill: #a6a6a6;
}

.filter-option-icon:active {
  opacity: 1;
}

.filter-option a {
  font-size: 14px;
  line-height: 18px;
   font-weight: 400;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter-option a:hover,
.filter-option a:focus {
  color: rgba(0,0,0,0.6);
}

.filter-option a:active {
  color: rgba(0,0,0,1);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  }

.catalog-item {
  position: relative;
  width: 360px;
  padding-top: 40px;
  margin-bottom: 27px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.catalog-item p {
  padding: 0;
  margin: 0;
}

.catalog-item::before {
  display: block;
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: 0px;
  left: 0px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(77, 77, 77,0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  }

.catalog-block {
  position: absolute;
  width: 360px;
  height: 187px;
  bottom: 0;
  left: 0;
  padding-top: 6px;
  padding-bottom: 27px;
  background-color: #eeeeee;
  display: none;
}

.catalog-item:hover .catalog-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.catalog-name {
  margin: 0;
  padding: 0;
}

.catalog-name a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding:0;
}

.catalog-text {
  text-align: center;
  text-transform: none;
  opacity: 0.6;
}

.button-catalog {
  width: 200px;
  border: 0;
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: #e74246;
}

.button-catalog:active {
  background-color: #d7373b;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  display: inline-block;
  min-width: 44px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination-item:last-child {
  width: 254px;
  margin-right: 0px;
}

.pagination-item a {
  color: #000000;
}

.pagination-item {
  line-height: 50px;
  font-weight: 500;
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination-item:hover,
.pagination-item:focus{
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  box-shadow: 0px -1px 5px bfbfbf;
}

.pagination-item-current {
  border: 3px solid #eeeeee;
  background-color: #ffffff;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  background-color: #ffffff;
}

.footer-location {
  position: relative;
  width: 1440px;
  height: 416px;
  margin: 0 auto;

  background-image: url("../img/contacts-map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.location-marker {
  position: absolute;
  width: 231px;
  height: 190px;
  top: 90px;
  left: 820px;

  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
}

.location-adress {
  position: absolute;
  width: 320px;
  height: 308px;

  top: 50%;
  margin-top: -154px;
  left: 140px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;

}

.location-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  margin-top: 48px;
  margin-left: 48px;

  background-color: #ffffff;
}

.location-adress-text,
.location-adress-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;

  margin-top: 24px;
  margin-bottom: 14px;
  margin-left: 50px;

  background-color: #ffffff;
}

.location-adress-phone {
  margin: 0;
  margin-left: 50px;
}

.contacts-button {
  align-self: center;
  width: 218px;
  margin-top: 42px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 0;
  padding: 0;
  list-style: none;
}

.social-button {
  width: 79px;
  height: 79px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: #e37376;
}

.footer-social .container {
  display: flex;
  align-items: center;
  height: 216px;
}

.footer-social strong {
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: none;

  margin-bottom: 13px;

  background-color: #ffffff;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  text-transform: none;

  margin: 0;
  margin-left: 140px;

  background-color: #ffffff;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-write-for-us {
  width: 760px;
  padding: 60px 100px;
  display: none;
  bottom: 180px;
  left: 50%;
  margin-left: -480px;
}

.modal-close {
  position: absolute;
  top: 77px;
  right: 88px;
  width: 25px;
  height: 25px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fb565a;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::after,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::after,
.modal-close:active::before {
  opacity: 0.1;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  margin-bottom: 30px;
}

.write-for-us {
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.modal-write-for-us p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
}

.modal-write input[type="text"],
.modal-write input[type="email"],
.modal-write textarea {
  font: inherit;
  text-transform: none;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 2px solid #000000;
  opacity: 0.1;
  margin-top: 10px;
}

.modal-write input[type="text"],
.modal-write input[type="email"] {
  width: 360px;
}

.modal-write textarea {
    width: 760px;
}

.modal-write input:hover,
.modal-write textarea:hover {
  opacity: 0.2;
}

.modal-write input:focus,
.modal-write textarea:focus {
  opacity: 1;
}

.modal-write input:invalid,
.modal-write textarea:invalid {
  color: #e74246;
  border-color: #e74246;
  opacity: 1;
}

.button-form {
  width: 260px;
  height: 50px;
  border: none;
}

.modal-wrap {
  display: flex;
  justify-content: space-between;
}
