body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation,
.services-list,
.partners-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.servises-product a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.302);
}

a.main-header-logo:focus {
  opacity: 0.3;
}

.sliders {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-item h2,
.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider {
  width: 698px;
  height: 413px;
}

.slider1 {
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
}

.slider2 {
  background-image: url("../img/slider2.png");
  background-repeat: no-repeat;
}

.slider3 {
  background-image: url("../img/slider3.png");
  background-repeat: no-repeat;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  vertical-align: middle;

  border: none;
  background-color: #f1585c;
}

.button-slider:hover,
.button-web:hover,
.contacts-button:hover,
.button-form:hover {
  background-color: #e74246;
}

.button-slider:focus,
.button-slider:active,
.button-web:focus,
.button-web:active,
.contacts-button:focus,
.contacts-button:active,
.button-form:focus,
.button-form:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.servises-product {
  color: #000000;
}

.button-web {
  background-color: #fb565a;
}

.button-app {
  background-color: #00ca74;
}

.button-pres {
  background-color: #efc84a;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:focus,
.button-app:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
}

.button-pres:hover {
  background-color: #eab534;
}

.button-pres:focus,
.button-pres:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
}

.studio-text {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.studio-table-row1 {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.sup {
  vertical-align: super;
  font-size: 22.5px;
}

.studio-table-row2 {
  line-height: 18px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:focus {
  opacity: 0.1;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.filter p {
  font-size: 16px;
}

.filter ul {
  list-style: none;
  line-height: 40px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-sorting ul {
  list-style: none;
}

.catalog-legend {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter-option a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;

  background-color: #ffffff;

}

.filter-option a:hover,
.filter-option a:focus {
  color: rgba(0,0,0,0.6);
}

.filter-option a:active {
  color: rgba(0,0,0,1);
}

.catalog-list {
  list-style: none;
}

.catalog-name a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.catalog-text {
  opacity: 0.6;
}

.button-catalog {
  background-color: #fb565a;
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: #e74246;
}

.button-catalog:active {
  color: #ffffff;
  background-color: #d7373b;
}

.catalog-item:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(77, 77, 77,0.1);

  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.1);
  background-color: #d5d5d5;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.pagination-item-current a {
  color: #000000;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.footer-location {
  width: 1440px;
  height: 416px;

  background-image: url("../img/map-marker.png"), url("../img/contacts-map.jpg");
  background-repeat: no-repeat;
}

.location-adress {
  background-color: #ffffff;
}

.location-adress span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.contacts-button {
  background-color: #fb565a;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-social strong {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.write-for-us {
  color: #000000;
  background-color: #ffffff;
}

.write-for-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-for-us label {
  font-weight: 700;
}

.write-for-us input,
.write-for-us textarea {
  font: inherit;
  color: #000000;

  border: 2px solid #000000;
  opacity: 0.3;
}

.write-for-us input:hover,
.write-for-us textarea:hover {
  opacity: 0.4;
}

.write-for-us input:focus,
.write-for-us textarea:focus {
  opacity: 1;
}

.write-for-us .button {
  background-color: #fb565a;
}
